<h1>Gitmojime</h1>
<p>
    Check your repo's <a href="https://github.com/carloscuesta/gitmoji">Gitmoji</a>'s compliance!
</p>
<p>Why would I do that?</p>
<ul>
    <li>It's fun</li>
    <li>It's pretty</li>
    <li>It helps to commit small things</li>
    <li>It can be analyzed easily</li>
</ul>
<p>
    <img src="https://cloud.githubusercontent.com/assets/7629661/20073135/4e3db2c2-a52b-11e6-85e1-661a8212045a.gif" width="456" alt="gitmoji" style="max-width:100%;">
</p>
<h2>This repo's compliance is:</h2>

<ul>
    <li>Overall</li>
    <li>Last month</li>
    <li>Current streak</li>
</ul>

<h2>What's yours?</h2>
<p>Public repo only (for now)</p>
<form method="post" action="/lint">
    <label>Repository url</label>
    <input type="text" name="repo" placeholder="https://github.com/krzystof/gitmojime">
    <input type="submit" value="Gitmojilint this!">
</form>

<h3>Rankings</h3>
<ul>
    <li>Overall</li>
    <li>Last month</li>
    <li>Current streak</li>
</ul>
